/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  height: 54vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a:hover,
button:hover {
  cursor: pointer;
}

body {
  background-color: #40e0d0;
  font-family: "Montserrat", sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Estilos da página */
.container {
  padding: 20px;
  text-align: center;
}

.page__title {
  color: #191919;
  margin: 0 0 5px;
}

.page__subtitle {
  color: #191919;
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}

.page__logo {
  width: 200px;
}

.alura__logo {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
}

#seleciona__moedas {
  color: #191919;
  font-size: 20px;
  margin-top: 1rem;
  text-align: center;
}

.options {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.options label {
  margin-right: 20px;
}

.options select {
  background: #ffffff;
  border: 1.5px solid #191919;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px;
}

.options select:active,
.options select:focus {
  outline: none;
}

.inputValor {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.inputValor label {
  margin-right: 20px;
}

.inputValor input {
  background-color: #fff;
  border: 1.5px solid #191919;
  border-radius: 5px;
  padding: 2px;
}

.inputValor input:active,
.inputValor input:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: #191919;
}

#conversao {
  color: #191919;
  font-weight: bold;
  margin-top: 50px;
  text-align: center;
}

.botao {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.botao .btn {
  background: none;
  background-color: #ffffff;
  border: none;
  border-color: #191919;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 8px 7px 22px -5px #191919;
  font-weight: bold;
  padding: 3px;
  transition: all ease 0.5s;
}

.botao .btn:hover {
  border-color: #ffffff;
  background-color: #191919;
  color: #ffffff;
  cursor: pointer;
}

.botao .btn:focus {
  outline: none;
}

.botao .btn:active {
  border-color: #191919;
  background-color: #ffffff;
  color: #191919;
}

.rodape {
  background-color: #008b8b;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  height: 9vh;
  margin-top: 5rem;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}

.rodape__link {
  color: #fff;
  text-decoration: none;
  transition: all ease 0.5s;
}

.rodape__link:hover {
  color: aliceblue;
  text-decoration: underline;
}
